{% extends './layout.twig'%}
{% block body %}
 <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">{{subtitle}}</span>
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <form autocomplete="off">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
                <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                <input class="mdl-textfield__input" type="text" id="search">
                <label class="mdl-textfield__label" for="search">Enter your query...</label>
                </div>
            </form>
          </div>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
            <li class="mdl-menu__item">About</li>
            <li class="mdl-menu__item">Contact</li>
            <li class="mdl-menu__item">Legal information</li>
          </ul>
        </div>
      </header>
      <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="demo-drawer-header">
          <div class="demo-avatar-dropdown">
            <span>hello@example.com</span>
            <div class="mdl-layout-spacer"></div>
            <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
              <i class="material-icons" role="presentation">arrow_drop_down</i>
              <span class="visuallyhidden">Accounts</span>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
              <li class="mdl-menu__item">hello@example.com</li>
              <li class="mdl-menu__item">info@example.com</li>
              <li class="mdl-menu__item"><i class="material-icons">add</i>Add another account...</li>
            </ul>
          </div>
        </header>
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
          <a class="mdl-navigation__link {% if subtitle is defined and subtitle == "Home" %}active{% endif %}" href="/admin"><i class="mdl-color-text--blue-400 material-icons" role="presentation">home</i>Home</a>
          <a class="mdl-navigation__link" href="javascript:Intranets.collections.add()"><i class="mdl-color-text--red-400 material-icons" role="presentation">add</i>New DataCollection</a>
          <hr />
          {% for table in tables%}
            <a class="mdl-navigation__link {% if subtitle is defined and subtitle == table.name %}active{% endif %}" href="/admin/{{table.name}}.data">
            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">storage</i>
            {{table.name | capitalize  }}
            </a>
          {% endfor %}
          <div class="mdl-layout-spacer"></div>
          <a class="mdl-navigation__link" href="">
            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">add</i>
            Add new workflow
          </a>
        </nav>
      </div>
      <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid">
            {% block admin %}
            {% endblock %}
        </div>
      </main>
    </div>
    <dialog class="mdl-dialog" id="datacollection_form" style="width: 50%">
      <form method="post" action="/admin/create">
        <h4 class="mdl-dialog__title">Add a Data Collection ?</h4>
        <div class="mdl-dialog__content">
          <p>
          Insert in this forme a new Data Collection for your own data : 
          </p>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="intranets_collection__name" required name="intranets_collection__name" >
            <label class="mdl-textfield__label" for="intranets_collection__name">Data Collection Name : </label>
            <span class="mdl-textfield__error">This field is required</span>
          </div>
        </div>
        <div class="mdl-dialog__actions">
          <button type="submit" class="mdl-button mdl-button--raised">Add</button>
          <button type="button" class="mdl-button close">Close</button>
        </div>
      </form>
  </dialog>
{% endblock %}